@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 100%, 50%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* ENTFERNT: display: grid und grid-template-columns */
    /* Jetzt nimmt der Content die volle Breite ein */
    width: 100%;
    max-width: none; /* Keine Begrenzung der Breite */
    padding: 0; /* Entfernen Sie das Padding für volle Breite */
  }
}
